<aside>

  <h2 (contextmenu)="contextmenuDocumentos($event)">
    <i class="material-icons">menu</i>
    <span>Documentos</span>
    <ul class="contextMenu" *ngIf="showContextMenuDocumentos" (mouseleave)="contextmenuDocumentos($event)" [ngStyle]="{'top': showContextMenuDocumentos.top, 'left': showContextMenuDocumentos.left}">
      <li (click)="sendCreateDocumento()">
        <span>Crear Documento</span>
      </li>
      <li>
        <span>Crear Documento</span>
      </li>
      <li>
        <span>Crear Documento</span>
      </li>
    </ul>
  </h2>
  <ul>
    <li *ngFor="let documento of documentos" (click)="sendSelectDocumento(documento)" [ngClass]="{'selected': documento === selectedDocumento }">
      <i class="material-icons" *ngIf="documento !== selectedDocumento">label_outline</i>
      <i class="material-icons" *ngIf="documento === selectedDocumento">label</i>
      <span>{{documento.nombre}}</span>
    </li>
  </ul>
</aside>
