div.card {
  min-width: 30%;
  margin: 0rem 1% 1rem 1%;
}

div.card-block>h4 {
  padding: 1rem;
  font-size: 1rem;
}

li.list-group-item {
  background-color: initial;
  color: rgba(255, 255, 255, .7);
}

div.noElementos {
  margin-top: 20%;
  color: rgba(255, 255, 255, .8)
}

div.card-title {
  padding: 0.5rem 1rem 0 1rem;
}

i.crear-documento {
        font-size: 5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1000;
        color: rgba(255, 255, 255, .8);

}
