<!-- Cabecera -->
<cabecera></cabecera>
<!-- Barra Lateral -->
<barra-lateral (selectDocumento$)="selectDocumento($event)" (crearDocumento$)="showFormCrearDocumento($event)" [selectedDocumento]="documentosService.selectedDocumento$ | async" [documentos]="documentosService.documentos$ | async"></barra-lateral>
<!-- Cuerpo -->
<cuerpo></cuerpo>

<!--<h1>Documentos!!!!!!!</h1>

  <lista-documentos [documentos]="documentosService.documentos$ | async"></lista-documentos>
  <button (click)="cambiarMostrarFormNuevoDocumento()">Mostrar Form</button>


  <nuevo-documento *ngIf="mostrarFormNuevoDocumento"></nuevo-documento>

  <nuevo-campo [documento]="documentoSeleccionado"></nuevo-campo>-->
