div.detallesDocumento {}

div.card {
  margin: 1% 5%;
  padding: 1rem;
}

table {
  font-size: .9rem;
}

ul.context-menu-ajustes {
  position: absolute;
  right: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, .92);
  color: rgba(0, 0, 0, 1);
}
ul.context-menu-ajustes>li.list-group-item {
  background-color: initial;
}


i.crear-registro {
  font-size: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1000;
  color: rgba(255, 255, 255, .8);
}
