<div class="detallesDocumento">

  <div class="card panel-general">
    <div class="card-block">
      <div class="card-title d-flex justify-content-between">
        <i class="material-icons" (click)="setEstadoPadre(1)">arrow_back</i>
        <h3>{{documento.nombre}}</h3>
        <div>
          <i class="material-icons" id="ajustesBtn">settings</i>
          <ul class="list-group context-menu-ajustes" *ngIf="ajustesMenu">
            <li class="list-group-item" (click)="setEstadoPadre(4)">Editar Documento</li>
            <li class="list-group-item" (click)="setEstadoPadre(5)">Editar Campos</li>
            <li class="list-group-item" (click)="changeEditarRegistros()">Editar Registros</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-block">
      <div class="card-title d-flex justify-content-end">
        <button *ngIf="editarRegistros" type="button" (click)="actualizarRegistros()" class="btn btn-success">Guardar</button>
      </div>
      <div>Buscador</div>
      <tabla-registros [edicion]="editarRegistros" [documento]="documento"></tabla-registros>
    </div>
  </div>

  <i (click)="crearRegistro()" class="material-icons btn crear-registro">add_circle</i>

</div>
