<div>
  <div class="card panel-general">
    <div class="card-block">
      <div class="card-title d-flex justify-content-between">
        <i class="material-icons" (click)="setEstadoPadre(3)">arrow_back</i>
        <h3>Editar campos del documento: {{documento.nombre}}</h3>
      </div>
      <div *ngFor="let campo of documento.campos; index as i">
        <div class="form-group d-flex justify-content-between align-items-center detalles-campo">
          <span>{{i}}</span>
          <select class="form-control" [(ngModel)]="campo.tipoValor">
            <option *ngFor="let tipoValor of tipoValoresService.tipoValores.getValue()" [ngValue]="tipoValor">{{tipoValor.nombre}}</option>
          </select>
          <input type="text" [(ngModel)]="campo.nombre" class="form-control" placeholder="Nombre del Nuevo Campo">
          <i class="material-icons" (click)="removeCampo(campo)">remove_circle</i>
        </div>

        <label class="text-warning" *ngIf="validador[i] && !validador[i].valido">{{validador[i].mensaje}}</label>

      </div>
      <i class="material-icons add-campo" (click)="addCampoVacio()">more</i>
      <div class="d-flex justify-content-between botonera">
        <button class="btn btn-light" (click)="setEstadoPadre(3)">Volver</button>
        <button class="btn btn-success" (click)="actualizarCampos()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
