/* You can add global styles to this file, and also import other style files */
body {
    background-color: #772036 !important;
}

.panel-general {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, .9);
}